.photo-gallery__btnheart {
    background: transparent;
    border: none;
    font-size: 21px;
    min-height: 19px;
    padding: 0 15px 0 0;
}

.photo-gallery__btnheart:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5 3s;
}