.photo-grid__img {
    max-width: 282px;
    height: 282px;
}

@media screen and (max-width: 885px) {
    .photo-grid__img {
        max-width: 15.9rem;
    }
}

@media screen and (max-width: 783px) {
    .photo-grid__img {
        max-width: 100%;
    }
}