.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 200px;
    display: grid;
    grid-template-columns: 120px 415px;
    padding: 0;
    grid-template-rows: 1fr;
    grid-template-areas: "profile__image profile__info";
    grid-gap: 30px;
    position: relative;
}

@media screen and (max-width: 1085px) {
    .profile {
        max-width: 1020px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 885px) {
    .profile {
        max-width: 800px;
    }
}

@media screen and (max-width: 783px) {
    .profile {
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        grid-template-rows: auto 1fr;
        grid-template-areas: "profile__image" "profile__info";
        width: calc(100% - 19px * 2);
        z-index: 0;
        grid-gap: 30px;
    }
}