.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 200px;
    display: grid;
    grid-template-columns: 120px 415px 1fr;
    padding: 40px 0 0 0;
    grid-template-rows: 1fr;
    grid-template-areas: "profile__image profile__info profile__add-button";
    grid-gap: 30px;
}

@media screen and (max-width: 783px) {
    .profile {
        grid-template-columns: 1fr;
        margin: 0 auto;
        /* justify-content: center; */
        align-items: center;
        text-align: center;
        grid-template-rows: 120px 1fr 50px;
        grid-template-areas: "profile__image" "profile__info" "profile__add-button";
        width: calc(100% - 19px * 2);
    }
}