    .footer__copyright {
        font-size: 18px;
        line-height: 21.78px;
        font-style: normal;
        font-weight: 400;
        color: #545454;
        margin: 0;
    }
    
    @media screen and (max-width: 783px) {
        .footer__copyright {
            font-size: 14px;
            line-height: 16.94px;
            max-width: 282px;
            padding: 0;
        }
    }