.header__logo {
    max-width: 173px;
    height: 33px;
    padding: 0;
}

@media screen and (max-width: 1085) {
    .header__logo {
        max-width: 75%;
        height: 75%;
    }
}

@media screen and (max-width: 783px) {
    .header__logo {
        max-width: 126px;
        height: 18px;
    }
}