.photo-grid__gallery {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-row-gap: 20px;
    grid-column-gap: 17px;
    padding: 0;
    margin: 0;
    justify-content: center;
}

@media screen and (max-width: 885px) {
    .photo-grid__gallery {
        grid-template-columns: 30% 30% 30%;
        grid-template-areas: "photo-gallery__lists photo-gallery__lists photo-gallery__lists" "photo-gallery__lists photo-gallery__lists photo-gallery__lists";
    }
}

@media screen and (max-width: 783px) {
    .photo-grid__gallery {
        grid-template-columns: 282px;
        grid-template-rows: repeat(6, 361px);
        grid-template-areas: "photo-gallery__lists" "photo-gallery__lists" "photo-gallery__lists" "photo-gallery__lists" "photo-gallery__lists" "photo-gallery__lists";
    }
}