    .popup__image-photo {
        max-width: 433px;
        background-color: transparent;
    }
    
    @media screen and (max-width: 783px) {
        .popup__image-photo {
            max-width: 240px;
            height: 299px;
        }
    }