    .popup__image-photo {
        max-width: 433px;
        background-color: transparent;
        text-align: center;
        align-self: center;
        justify-self: center;
    }
    
    @media screen and (max-width: 783px) {
        .popup__image-photo {
            max-width: 240px;
            height: 299px;
        }
    }