    .popup__input {
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        font-size: 14px;
        line-height: 16.94px;
        font-style: normal;
        font-weight: 400;
    }
    
    .popup__input:first-of-type {
        padding: 0 0 13.34px 0;
    }
    
    .popup__input:last-of-type {
        padding: 29.74px 0 13.34px 0;
    }
    
    @media screen and (max-width: 783px) {
        .popup__input {
            padding: 0 0 9px 0;
        }
    }