.profile__info {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: 39px 22px;
    grid-template-areas: "profile__name profile__editButton";
    grid-row-gap: 16px;
    grid-column-gap: 18px;
    max-width: 415px;
}