.photo-grid__btnheart {
    background-image: url('../../../images/heartWhite.svg');
    background-color: transparent;
    border: none;
    width: 21px;
    height: 19px;
    background-repeat: no-repeat;
}

.photo-grid__btnheart:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}