.photo-grid__btnheart {
    background: transparent;
    border: none;
    font-size: 21px;
    min-height: 19px;
}

.photo-grid__btnheart:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}