.footer {
    width: 100%;
    max-width: 880px;
    margin: 68px auto 60px auto;
}

@media screen and (max-width: 1085px) {
    .footer {
        max-width: 880px;
        margin: 68px auto 60px auto;
    }
}

@media screen and (max-width: 885px) {
    .footer {
        max-width: 785px;
        margin: 68px auto 60px auto;
    }
}

@media screen and (max-width: 783px) {
    .footer {
        width: calc(100% - 19px * 2);
        margin: 0 19px;
        padding: 50px 0 36px 0;
        max-width: 320px;
    }
}