    .photo__gallery {
        list-style-type: none;
        display: grid;
        grid-template-columns: 282px 282px 282px;
        grid-template-rows: repeat(2, 361px);
        grid-row-gap: 20px;
        grid-column-gap: 17px;
        padding: 0;
    }